.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 4rem 2rem;
    background-color: transparent;
    position: relative;
    width: 100%;
    z-index: 1;
}

.loader {
    width: 44.8px;
    height: 44.8px;
    color: #667eea;
    position: relative;
    background: radial-gradient(11.2px, currentColor 94%, transparent);
}

.loader::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background:
        radial-gradient(10.08px at bottom right, transparent 94%, currentColor) top left,
        radial-gradient(10.08px at bottom left, transparent 94%, currentColor) top right,
        radial-gradient(10.08px at top right, transparent 94%, currentColor) bottom left,
        radial-gradient(10.08px at top left, transparent 94%, currentColor) bottom right;
    background-size: 22.4px 22.4px;
    background-repeat: no-repeat;
    animation: loader 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes loader {
    33% {
        inset: -11.2px;
        transform: rotate(0deg);
    }

    66% {
        inset: -11.2px;
        transform: rotate(90deg);
    }

    100% {
        inset: 0;
        transform: rotate(90deg);
    }
}